@mixin list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin title {
	font-size: 50px;
	line-height: 120%;
	color: $color-primary;
}

@mixin description {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $color-secondary;
	padding-left: 40px;
	margin: 30px 0;

	&::before {
		position: absolute;
		left: 0;
		content: '';
		display: block;
		border: 3px solid $border-color;
		width: 3px;
		height: 100%;
	}
}

@mixin btn {
	padding: 12px 38px;
	font-family: $font-family;
	font-size: 18px;
	line-height: 150%;
	text-transform: uppercase;
	color: #fff;
	background-color: $btn-color;
	border: none;
}
